<section class="text-gray-400 bg-gray-900 body-font">
  <div class="flex flex-col text-center w-full mb-12">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Our Products</h1>
    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Explore our range of handpicked premium mocktail and cocktail mixes. From refreshing fruity blends to sophisticated classics, we have something for every taste.</p>
    <p><strong>Please Note:</strong> Cocktails are alcoholic beverages. Only individuals aged 18 and above are allowed to purchase and consume alcoholic beverages.</p>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Raspberry Spirits" class="object-cover object-center w-full h-full block" src="assets/img/products/raspberry-spirits.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Cocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Raspberry Spirits</h2>
          <p class="mt-1">Fresh raspberry mix with rum, liqueur</p>
          <p class="mt-1 text-yellow-400">PHP 320</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Red Margarita" class="object-cover object-center w-full h-full block" src="assets/img/products/red-margarita.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Cocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Red Margarita</h2>
          <p class="mt-1">Salt, lime, tequila, and red wine</p>
          <p class="mt-1 text-yellow-400">PHP 360</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Pina Colada" class="object-cover object-center w-full h-full block" src="assets/img/products/Pina-Colada.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Mocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Pina Colada</h2>
          <p class="mt-1">Pineapple mix with dalandan, sweet citrusy, summer vibes</p>
          <p class="mt-1 text-yellow-400">PHP 220</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Blue Ocean Mocktail" class="object-cover object-center w-full h-full block" src="assets/img/products/Blue-Ocean.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Mocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Blue Ocean</h2>
          <p class="mt-1">Made with sparkling soda, refreshing and effervescent</p>
          <p class="mt-1 text-yellow-400">PHP 300</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Blue Hawaiian" class="object-cover object-center w-full h-full block" src="assets/img/products/Blue-Hawaiian.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Mocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Blue Hawaiian</h2>
          <p class="mt-1">Pineapple, orange, coconut water, coconut cream, syrup, lemon lime soda</p>
          <p class="mt-1 text-yellow-400">PHP 280</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Bay Breeze" class="object-cover object-center w-full h-full block" src="assets/img/products/Bay-breeze.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Cocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Bay Breeze</h2>
          <p class="mt-1">Vodka, pineapple, cranberry juice, fruity and refreshing</p>
          <p class="mt-1 text-yellow-400">PHP 320</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Blueberry Ginger" class="object-cover object-center w-full h-full block" src="assets/img/products/blueberry-ginger.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Mocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Blueberry Ginger</h2>
          <p class="mt-1">Blueberry syrup, sparkling water, orange bitters, tangy and refreshing</p>
          <p class="mt-1 text-yellow-400">PHP 240</p>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="Pink Lemonade" class="object-cover object-center w-full h-full block" src="assets/img/products/Pink-lemonade.png">
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">Cocktail</h3>
          <h2 class="text-white title-font text-lg font-medium">Pink Lemonade</h2>
          <p class="mt-1">Lime soda, vodka, cranberry juice, sweet and tangy</p>
          <p class="mt-1 text-yellow-400">PHP 290</p>
        </div>
      </div>
    </div>
  </div>
</section>
